# Entornos virtuales
venv/
.env
__pycache__/
*.pyc

# Editor y sistema
.vscode/
.DS_Store
Thumbs.db

# Streamlit local config
.streamlit/

# Otros
pip-wheel-metadata/
build/
dist/

streamlit
requests
python-dotenv




